.chat-main
  .chat-mainheader
    .chat-header
      %h2.chat-header__user-name 
        = @group.name
      %ul.chat-header__member
        Member：
        - @group.users.each do |user|
          %li.chat-header__member-name #{user.name}
        
    .chat-header__btn
      = link_to edit_group_path(@group) do
        Edit
  .messages
    = render @messages
  .chat-form
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        .form__image
          = f.label :image, class: 'message-form__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-form__btn'