.chat-main
  .chat-mainheader
    .chat-header
      %h2.chat-header__user-name 
        = @group.name
      %ul.chat-header__member
        Member：
        - @group.users.each do |user|
          %li.chat-header__member-name #{user.name}
        
    .chat-header__btn
      = link_to edit_group_path(@group) do
        Edit
  .chat-list
    .chat-list__list-box
      .messages
        = render @messages
    -#   %p.chat-list__list-box__user-name koji
    -#   %p.chat-list__list-box__date 2020/04/27(Mon) 00:00:00
    -# %p.chat-list__message こんにちは！
  .chat-form
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        .form__image
          = f.label :image, class: 'message-form__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-form__btn'